/* style file */

html, body{
    margin: 0px;
    padding: 0px;
    @extend .fullblk;
}

#root{
    margin: 0px;
    padding: 0px;
    @extend .fullblk;
}

.fullblk{
    width: 100%;
    height: 100%;
}

.leaflet-container{
    @extend .fullblk;
    margin: 0 auto;
    z-index: 0;
}

.rel-position{
    position: relative;
}

.control-div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    z-index: 100;
}

.div-margin{
    margin: 10px 10px 0px 10px;
}

.btn-div{
    @extend .div-margin;
}

.btn-add{
    background-color: green;
    padding: 10px;
    color: #ffffff;
    width: 100%;
}

.point-list{
    @extend .div-margin;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    padding: 10px;
    min-height: 200px;
}

.created-points{
    margin-top: 10px;
    max-height: 330px;
    overflow-y: auto;
}

.txt-input{
    border-radius: 0;
    background-color: #e2e2e2;
    color: #000000
}

.dialog{
    position: absolute;
    top: 62px;
    left: 300px;
    max-width: 300px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}
